[cri-o]
name=CRI-O
baseurl=https://pkgs.k8s.io/addons:/cri-o:/{{ crio_project_path }}/rpm/
enabled=1
gpgcheck=1
gpgkey=https://pkgs.k8s.io/addons:/cri-o:/{{ crio_project_path }}/rpm/repodata/repomd.xml.key
